html {
    font-family: "Sora", sans-serif;
    height: 100%;
    margin: 0;
    overflow-y: auto;
    display: flex;
    scroll-behavior: auto;
    background: linear-gradient(white, #c8cac9);
}

body {
    margin: 0;
    user-select: none;
    -moz-user-select: none;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
    margin-left: 650px;
}

.mobile-instructions {
    display: none;
}

.to-top {
    display: none;
    visibility: hidden;
  }
  
.faded-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
  }

  .faded-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
  }

.card {
    --marker-color: #45433e;
    box-shadow: 0px 0px 25px;
    width: 600px;
    height: 900px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}

#osc-card {
    background-color: #e6f7f0;
}

.compressor-card {
    background-color: #f5b9d1;
    box-shadow: 0px 0px 25px black;
}

.delay-card {
    background-color: #aa9cfa;
}

.reverb-card {
    background-color: #f3ae6e;
}

.equalizer-card {
    background-color: #bdeeb6;
}

.plus-container {
    margin-left: 150px;
    margin-right: 300px;
    width: 100px;
    height: 100px;
    padding: 20px;
    border-style: solid;
    border-radius: 25%;
    border-color: #45433e;
    border-width: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px;
}

.option-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.option-container p {
    text-align: center;
    width: 100px;
    cursor: pointer;
    margin: 10px;
}

.card .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-bar {
    width: 420px;
    margin: 12px;
    display: flex;
    justify-content: center;
}

.effect .top-bar,
#empty-card .top-bar {
    gap: 10px;
}

.mute-button,
.close-button {
    height: 15px;
    width: 15px;
    margin-right: -245px;
    margin-left: 245px;
    border-style: solid;
    border-color: #45433e;
    border-radius: 25%;
    cursor: pointer;
}

.preset-container {
    width: 210px;
    display: flex;
    align-items: center;
}

.corner-button {
    margin-right: -150px;
    margin-left: 150px;
    width: 15px;
    height: 15px;
    border-style: solid;
    border-color: #45433e;
    border-radius: 25%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.corner-button::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #45433e;
    position: absolute;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    flex: 0 0 auto;
  }

.dropdown-content {
    display: none;
    list-style: none;
    position: relative;
    top: 145px;
    right: 100px;
    background-color: white;
    z-index: 1;
}

.corner-option {
    width: 200px;
    padding: 10px;
}

.corner-option::before {
    content: "- ";
}

.corner-option:hover {
    background-color: #6cc7a3;
}

.show {
    display: block;
}

select {
    width: 100%;
    margin-left: 5px;
    background-color: white;
    text-align: center;
}

.visualizer-container {
    height: 150px;
    width: 420px;
}
.visualizer,
.visualizer-overlay,
.eq-canvas {
    position: absolute;
}

.visualizer {
    background-color: black;
}

.knobs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.effect .knobs {
    margin-top: 74px;
}

.knob-row {
    display: flex;
    width: 420px;
    text-align: center;
    justify-content: space-evenly;
}

.button-container {
    display: flex;
    width: 420px;
    flex: auto;
    justify-content: space-between;
    margin: 12px 0px;
}

.button-container button {
    height: 50px;
    width: 210px;
    flex: 0 0 auto;
}

.knob-container {
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 100px;
    margin: 5px 10px;
    align-items: center;
    text-align: center;
    font-size: small;
    flex: 1 1 auto;
}

.knob {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-style: solid;
    border-color: black;
    box-shadow: inset 0px 0px 7px #45433e;
}

.knob-marker {
    width: 10%;
    height: 15px;
    position: relative;
    background-color: var(--marker-color);
    clip-path: polygon(10% 0, 90% 0, 70% 100%, 30% 100%);
    left: 45%;
}

.knob-value {
    font-size: 80%;
    width: 75px;
    text-align: center;
}

@media (max-width: 700px)  and (orientation: portrait){
    html {
        overscroll-behavior: contain;
        background: none;
        display: block;
    }

    body {
        margin: 30px 0px;
        flex-direction: column;
    }

    .bg {
        position: fixed;
        background: linear-gradient(white, #c8cac9);
        background-position: center;
        height: 100vh;
        width: 100vw;
        z-index: -1;
    }

    .card-container {
        margin: 0;
        width: 100%;
        flex-direction: column;
        gap: 100px;
    }

    .mobile-instructions {
        margin-top: 10px;
        display: block;
    }
    
    .to-top {
        display: block;
        width: 30px;
        height: 30px;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 0px 0px 10px black;
        background-color: white;
        position: fixed;
        right: 10px;
        bottom: 10px;
        cursor: pointer;
    }

    .card {
        height: calc(90vh - 10px);
        width: 90vw;
    }

    .plus-container {
        margin: calc(90vw / 2) 0px;
        width: 50px;
        height: 50px;
        padding: 5px;
    }

    .plus-container img {
        width: 50px;        
    }
    
    .top-bar {
        width: 85vw;
        margin: 12px;
        display: flex;
        justify-content: center;
    }

    .mute-button,
    .close-button {
        margin-right: -30vw;
        margin-left: 30vw;
    }

    .visualizer-container,
    .visualizer,
    .visualizer-overlay,
    .eq-canvas {
        height: 10vh;
        width: 85vw;
    }

    .corner-button {
        margin-right: 0;
        margin-left: 5vw;
        width: 15px;
        height: 15px;
    }

    .button-container {
        width: 85vw;
        flex: auto;
        justify-content: space-between;
        margin: 8px 0px;
    }
    
    .button-container button {
        height: 5vh;
        width: calc(85vw / 2);
        flex: 0 0 auto;
    }

    .knob-container {
        height: fit-content;
        width: 50px;
        padding: 0;
        margin: 0;
    }

    .knob {
        touch-action: none;
        width: 5vh;
        height:  5vh;
    }

    .knob-row {
        width: 90vw;
        justify-content: center;
    }

    .knob-value {
        font-size: 80%;
        width: 15vw;
        text-align: center;
    }
}